<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/e7fc8ddb-21b3-4d32-8c49-ec13f3fd97cb/resourcegroups/Carandang/providers/Microsoft.Web/sites/WTOAppsMembersService</ResourceId>
    <ResourceGroup>Carandang</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://wtoappsmembersservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/e7fc8ddb-21b3-4d32-8c49-ec13f3fd97cb/resourcegroups/Carandang/providers/Microsoft.ContainerRegistry/registries/WTOAppsRegistry</ContainerResourceId>
    <ContainerResourceName>WTOAppsRegistry</ContainerResourceName>
    <Subscription>Visual Studio Enterprise with MSDN</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://wtoappsregistry.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>225493c3-846b-489b-b11e-16abfacf4446</ProjectGuid>
  </PropertyGroup>
</Project>